h1.soon {
    margin: 20px;
    border: solid 1px #2E3247;
    background: #2E3247;
    padding: 20px;
    margin-top: 30px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 2px #00000005;
    color: #d5d5d5;
    display: none;
    font-family: 'Nunito';
    position: relative;
    left: 50%;
    margin-left: -176.54px;
}
.article {
    position: relative;
    left: 50%;
    margin-left: -632px;
    display: inline-block;
    margin-top: 40px;
    animation: fadein 1s forwards;
}
.article h1 {
    font-family: 'Nunito';
    font-size: 32px;
    color: #ccd9e2;
    font-weight: bold;
}
.article p {
    font-family: 'Nunito';
    color: #a5b0bb;
    line-height: 20px;
    margin-top: -8px;
}
li {
    margin: 20px;
    height: 500px;
    overflow: hidden;
    border: solid 1px #2E3247;
    background: #2E3247;
    padding: 18px 15px 10px 18px;
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 2px #00000005;
    color: #d5d5d5;
    display: inline-block;
    max-width: 590px;
    transition: all 0.3s;
}
li:hover {
    border: solid 1px #32374e;
    background: #32374e;
    box-shadow: 4px 5px 6px 6px #0000001a;
}
.article img {
    border-radius: 6px;
    position: relative;
    width: 100%;
    margin: 15px 0px 0px 0px;
}

@media screen and (max-width: 1280px){
    .article a {
        display: block;
        position: relative;
        left: 50%;
    }
    /* .soon {
        display: inline-block !important;
        animation: fadein 1s forwards;
    }
    .article {
        display: none;
    } */
}
@media screen and (max-width: 590px){
    .article a {
        display: block;
        position: relative;
        left: 0;
    }
    .article {
        position: relative;
        left: 0;
        margin-left: 0;
        display: inline-block;
        margin-top: 40px;
        animation: fadein 1s forwards;
    }
    li {
        margin: 10px;
        height: auto;
    }
}

@keyframes fadein {
    0%{ transform: translateY(50px); opacity: 0; }
    30%{ transform: translateY(50px); opacity: 0; }
    100%{ transform: translateY(0px); opacity: 1; }
}