*{
    /*border: 1px solid red;*/
    box-sizing: border-box;
}

body {
    background: #2B2E44;
}
.body2 {
    display: grid;
}

h2{
    font-family: 'Nunito';
}
.title{
    margin: 30px 0px 0px 0px;
    color: #dadada;
    font-size: 30px;
}

.soon {
    color: #3d405a;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -162px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 55px;
}

/* Header */
.header {
    border-bottom: 1px solid #2E3247;
    background: #2E3247;
}
.GMLogo {
    height: 64px;
    width: 64px;
    display: inline-block;
    overflow: hidden;
    margin: 8px 0px 0px 26px;
}
h1.GMLogoText {
    font-size: 30px;
    color: #ffffff;
    font-family: 'Nunito';
    display: inline-block;
    position: relative;
    top: -20px;
}
.navDiv {
    display: inline-block;
    background: #ffffff0f;
    height: 25px;
    width: 1px;
    position: relative;
    top: 5px;
}
.navElements {
    float: right;
    color: #d8d8d8;
    font-family: "Source Sans Pro";
    margin: 22px 52px 0px 0px;
    font-size: 22px;
}
a {
    color: #c1c1c1;
    text-decoration: none;
}
.navElements p {
    margin: 0px 4px;
    display: inline-block;
}
.navSelected{
    color: #c1c1c1;
    font-weight: 600;
    text-decoration: none;
}
