/* Header */
.header {
    border-bottom: 1px solid #2E3247;
    background: #2E3247;
}
.GMLogo {
    height: 64px;
    width: 64px;
    display: inline-block;
    overflow: hidden;
    margin: 8px 0px 0px 26px;
}
h1.GMLogoText {
    font-size: 30px;
    color: #ffffff;
    font-family: 'Nunito';
    display: inline-block;
    position: relative;
    top: -20px;
}
.navDiv {
    display: inline-block;
    background: #ffffff0f;
    height: 25px;
    width: 1px;
    position: relative;
    top: 5px;
}
.navElements {
    float: right;
    color: #d8d8d8;
    font-family: "Source Sans Pro";
    margin: 22px 52px 0px 0px;
    font-size: 22px;
}
a {
    color: #c1c1c1;
    text-decoration: none;
}
.navElements p {
    margin: 0px 4px;
    display: inline-block;
}
.navSelected {
    color: #dadada;
    font-weight: 600;
    text-decoration: none;
}

/* animations */
@keyframes slidein-menu{
    0%{ transform: translateX(100px); }
    100%{ transform: translateX(0px); }
}