body {
    background: #e8e8e8;
}
.payment {
    font-family: 'Nunito';
}
.payment h2 {
    margin: 30px 0px 0px 50px;
    color: #3a3a3a;
}
.payment li {
    border: solid 1px #ffffff;
    display: inline-block;
    clear: left;
    position: relative;
    margin: 10px;
    padding: 10px;
    background: white;
    border-radius: 10px;
    width: 15%;
    min-width: 165px;
    box-shadow: 2px 2px 4px 2px #dadada;
    color: #292929;
}
.statusNP {
    font-size: 12px;
    padding: 2px 5px;
    background: #ff1515bd;
    border-radius: 6px;
    color: white;
}
.status {
    font-size: 12px;
    padding: 2px 5px;
    background: #33b70abd;
    border-radius: 6px;
    color: white;
}
.price {
    float: right;
    margin: 11px;
}

/*divider*/
.line {
    height: 1px;
    margin: 0px 55px;
    background: #c3c3c3;
}

/*news container*/
.news{
    font-family: 'Nunito';
}
h2.news{
    margin: 30px 0px 0px 50px;
    color: #3a3a3a;
}
.container p{
    font-family: 'Nunito';
}
.newscontainer {
    margin-left: 50px;
    background: white;
    display: inline-block;
    padding: 15px 35px;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px #dadada;
}
.postdate {
    float: right;
    margin: 0;
    color: #424242;
    font-size: 13px;
}

/*calendar container*/
.calendarcontainer {
    width: 55%;
    float: right;
    margin: 10px 0px 0px 0px;
}
.calendarcontainer h2 {
    color: #3a3a3a;
    margin-left: 50px;
}

/*calendar*/
.calendarcontainer li {
    font-family: 'Nunito';
    display: inline;
    margin-right: 6%;
    color: #dadada;
}
.calendarcontainer ul {
    margin-left: 30px;
    margin-right: 8%;

}