/*payment heading*/
.payment {
    font-family: 'Lexend Deca';
    overflow: hidden;
    animation: fadeinPayments 0.3s forwards;
    display: none;
    position: absolute;
    background: #131313;
    z-index: 1;
    padding: 0px 10px 10px 10px;
    border-radius: 6px;
    box-shadow: 0px 2px 6px 0px #000000a3;
    right: 20px;
    top: 66px;
}
.payment .title {
    margin: 20px 0px 0px 10px;
    color: #dadada;
    font-size: 20px;
}
.payment-container {
    grid-column: 1;
}
.month {
    color: #a2a2a2;
    margin: 10px 10px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #1f1f1f;
}
span.monthTAG {
    background: #1f1f1f;
    padding: 0px 10px;
    border-radius: 18px;
}
.payment li {
    border: solid 1px #181818;
    display: block;
    clear: left;
    position: relative;
    margin: 6px;
    padding: 12px;
    background: #1b1b1b;
    border-radius: 10px;
    min-width: 165px;
    box-shadow: 2px 2px 4px 2px #0000001a;
    color: #d5d5d5;
    max-width: 340px;
    overflow: hidden;
}
.statusNP {
    font-size: 12px;
    padding: 1px 7px;
    background: #b73a3ac9;
    border-radius: 5px;
    color: white;
    position: relative;
    top: 5px;
    box-shadow: 0 0 8px 0px #e0474757;
}
.statusPP {
    font-size: 12px;
    padding: 1px 7px;
    background: #dda326c9;
    border-radius: 5px;
    color: white;
    position: relative;
    top: 5px;
    box-shadow: 0 0 8px 0px #a095415c;
    transition: background 0.3s;
}
span.statusPP:hover {
    background: #e0b455c9;
    cursor: pointer;
}
.status {
    font-size: 12px;
    padding: 1px 7px;
    background: #3f8253;
    border-radius: 5px;
    color: white;
    position: relative;
    top: 5px;
    box-shadow: 0 0 8px 0px #3f82535c;
}
.price {
    float: right;
    margin: 11px;
}
.PPmonths {
    background: #292929;
    margin: 5px 4px 2px -1px;
    position: relative;
    display: inline;
    top: 3px;
    padding: 2px 6px;
    border-radius: 6px;
}
.PPmonthsContainer {
    display: none;
    animation: openMonthPP 0.3s forwards;
    animation-play-state: paused;
    height: 18px;
    margin-top: 15px;
}

@keyframes openMonthPP {
    0%{ transform: translateY(-20px); opacity: 0;}
    10%{ transform: translateY(-10px); opacity: 0;}
    100%{ transform: translateY(0px); opacity: 1; }
}

@media screen and (max-width: 1000px){
    .week-table {
        grid-column: 3;
        grid-row: 1;
    }

    .week-table-container li {
        width: 100%;
    }
    .week-table {
        grid-column: 1;
        margin: 0px 24px 0px 0px;
    }
    .title {
        margin: 20px 0px 0px 17px;
        font-size: 30px;
    }
    h3.date {
        margin: 8px 0px 0px 0px;
        padding: 4px 10px;
        background: #242424;
        border-radius: 6px 6px 0px 0px;
    }
    .week-table-container h2 {
        margin: 20px 0px 8px 8px;
    }
    .week-table-container {
        margin-top: 0px;
        margin-left: 20px;
        grid-column: 1;
        width: 100%;
        border-radius: 0px;
        margin: 0px 12px;
    }
    .week-table-container li {
        width: 100%;
        border-radius: 0px 0px 6px 6px;
        min-width: 0px;
        margin-top: 0px;
        border-top: 2px solid #0e0e0e;
    }
}
@media (prefers-color-scheme: light) {
    .payment {
        background: #f3f3f3;
        box-shadow: 0px 2px 6px 0px #00000033;
    }
    .payment li {
        border: solid 1px #ffffff;
        background: #ffffff;
        box-shadow: 2px 2px 4px 2px #00000012;
        color: #000000;
    }
    .payment .title {
        color: #252525;
    }
    .month {
        color: #2b2b2b;
        border-bottom: 1px solid #dedede;
    }
    span.monthTAG {
        background: #ffffff;
    }
    .PPmonths {
        background: #f9f9f9 !important;
        border: 1px solid #dedede !important;
        padding: 1px 6px !important;
    }
}

@keyframes fadeinPayments {
    0%{ transform: translateY(-50px); opacity: 0; }
    100%{ transform: translateY(0px); opacity: 1; }
}
@keyframes fadeoutPayments {
    0%{ transform: translateY(0px); opacity: 1; }
    100%{ transform: translateY(-50px); opacity: 0; }
}