*{
    /*border: 1px solid red;*/
    box-sizing: border-box;
}

body {
    background: #2B2E44;
    user-select: none;
}
.body2 {
    display: grid;
    overflow: hidden;
    margin-bottom: 20px;
}

h2{
    font-family: 'Nunito';
}
.title{
    margin: 30px 0px 0px 0px;
    color: #dadada;
    font-size: 30px;
}

/* Header */
.header {
    border-bottom: 1px solid #2E3247;
    background: #2E3247;
    user-select: none;
}
.GMLogo {
    height: 64px;
    width: 64px;
    display: inline-block;
    overflow: hidden;
    margin: 8px 0px 0px 26px;
}
h1.GMLogoText {
    font-size: 30px;
    color: #ffffff;
    font-family: 'Nunito';
    display: inline-block;
    position: relative;
    top: -20px;
}
.navDiv {
    display: inline-block;
    background: #ffffff0f;
    height: 25px;
    width: 1px;
    position: relative;
    top: 5px;
}
.navElements {
    float: right;
    color: #d8d8d8;
    font-family: "Source Sans Pro";
    margin: 22px 52px 0px 0px;
    font-size: 22px;
}
a {
    color: #c1c1c1;
    text-decoration: none;
}
.navElements p {
    margin: 0px 4px;
    display: inline-block;
    position: relative;
    top: -3px;
}
.navSelected {
    color: #dadada;
    font-weight: 600;
    text-decoration: none;
}

.open-payments {
    background: #383c52;
    padding: 10px 20px;
    border-radius: 6px;
    transition-property: background, color, box-shadow;
    transition: 0.3s;
}
.open-payments:hover {
    background: #EB7220;
    box-shadow: 0px 3px 9px #0000003d;
    color: white;
}

/*news container*/
.container {
    margin-left: 50px;
    border: solid 1px #2E3247;
    background: #2E3247;
    display: inline-block;
    padding: 18px 15px 10px 18px;
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 2px #00000005;
    color: #d5d5d5;
    width: 86%;
    grid-column: 1;
}
.newscontainer {
    font-family: 'Nunito';
    display: inline-block;
    height: 100%;
    animation: fadein 0.5s forwards;
    animation-play-state: paused;
}
.newscontainer p {
    font-family: 'Nunito';
    line-height: 22px;
    color: #cecece;
    user-select: text;
}
.newscontainer h2 {
    margin: 30px 0px 0px 50px;
    color: #dadada;
    font-size: 30px;
}
.postdate {
    float: right;
    margin: 0;
    color: #474c63;
    font-size: 13px;
    font-family: 'Roboto';
    margin-top: 10px;
    font-weight: bold;
}

/*platforms container*/
.platform-container {
    grid-column: 2;
    width: 350px;
    animation: fadein 0.5s forwards;
    animation-play-state: paused;
}
.platform-card{
    margin-left: 0px;
    border: solid 1px #2E3247;
    background: #2E3247;
    display: inline-block;
    padding: 15px 35px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 2px #00000005;
    color: #d5d5d5;
    position: relative;
}
.platform-card {
    font-family: 'Nunito';
    display: inline-block;
    height: 75px;
    width: 325px;
    margin: 10px 25px 0px 0px;
    z-index: 1;
}
.platform-card h2 {
    color: #dadada;
    font-size: 24px;
    margin-left: -17px;
}
.platform-card p {
    font-family: 'Nunito';
    line-height: 22px;
    color: #969696;
    display: inline-block;
    margin-left: -17px;
    position: relative;
}
.join-discord {
    background: #383c52;
    padding: 10px 20px;
    position: relative;
    top: -21px;
    right: -17px;
    float: right;
    border-radius: 6px;
    transition-property: background, color, box-shadow;
    transition: 0.3s;
}
.join-discord:hover {
    background: #7289DA;
    box-shadow: 0px 3px 9px #0000003d;
    color: white;
}
.discordVC-count {
    background: #25283a;
    width: 325px;
    padding: 10px 0px 6px 18px;
    font-family: 'Nunito';
    margin-top: -3px;
    border-radius: 0px 0px 6px 6px;
    color: #8791a3;
    animation: slidedown 0.5s forwards;
    animation-play-state: paused;
}
.open-notion {
    background: #383c52;
    padding: 10px 20px;
    position: relative;
    top: -21px;
    right: -17px;
    float: right;
    border-radius: 6px;
    transition-property: background, color, box-shadow;
    transition: 0.3s;
}
.open-notion:hover {
    background: #e8ba7f;
    box-shadow: 0px 3px 9px #0000003d;
    color: white;
}
.open-reddit {
    background: #383c52;
    padding: 10px 20px;
    position: relative;
    top: -21px;
    right: -17px;
    float: right;
    border-radius: 6px;
    transition-property: background, color, box-shadow;
    transition: 0.3s;
}
.open-reddit:hover {
    background: #FF4500;
    box-shadow: 0px 3px 9px #0000003d;
    color: white;
}
.join-w2g {
    background: #383c52;
    padding: 10px 20px;
    position: relative;
    top: -21px;
    right: -17px;
    float: right;
    border-radius: 6px;
    transition-property: background, color, box-shadow;
    transition: 0.3s;
}
.join-w2g:hover {
    background: #FACD3B;
    box-shadow: 0px 3px 9px #0000003d;
    color: white;
}


/*calendar container*/
.calendar-container {
    color: #d5d5d5;
    grid-column: 3;
    margin-bottom: 20px;
    animation: fadein 0.5s forwards;
    animation-play-state: paused;
}
.calendarContainer li {
    border: solid 1px #2E3247;
    background: #2E3247;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 2px #00000005;
    color: #b9b9b9;
    margin: 10px 50px 0px 0px;
    grid-column: 3;
    font-family: 'Nunito';
    width: 400px;
    user-select: text;
}
.calendarContainer img {
    width: 100%;
    margin: 8px 0px 0px 0px;
    border-radius: 10px;
}
.calendarcontainer h2 {
    color: #dadada;
    margin-left: 50px;
}

/*calendar*/
h3.date {
    font-family: 'Nunito';
    margin: 14px 0px 0px 2px;
    color: #a4a8bf;
}
.date span {
    color: #515467;
}

/* Scrollbar taken by Dark Instagram by DM */
::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-radius: 0 !important;
    border: none !important;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #00000038 !important;
    border-radius: 10px !important;
    transition: 0.3s background ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
    background: #00000049 !important;
}
::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-radius: 0 !important;
    border: none !important;
}

@media screen and (max-width: 1300px) and (min-width: 960px){
    .platform-container {
        grid-column: 2;
        grid-row: 1;
        width: 400px;
    }
    .platform-card, .discord-card, .discordVC-count {
        width: 100%;
    }
    .join-discord {
        right: -14px;
        float: right;
    }
    .calendar-container {
        color: #d5d5d5;
        grid-column: 2;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 960px){
    .newscontainer{
        grid-column: 1;
        grid-row: 1;
    }
    .platform-container {
        grid-column: 2;
        grid-row: 1;
        margin-top: 10px;
        margin-left: 50px;
    }
    .calendar-container {
        color: #d5d5d5;
        grid-column: 2;
        margin-bottom: 20px;
        margin-left: 50px;
    }
    .calendarContainer li{
        font-family: 'Nunito';
        min-width: 400px;
    }
}
@media screen and (max-width: 890px){
    .navElements {
        float: right;
        color: #d8d8d8;
        font-family: "Source Sans Pro";
        margin: 20px 15px 0px 14px;
        font-size: 22px;
        display: none;
        animation: slidein-menu 0.2s forwards;
    }
    h1.GMLogoText{
        display: none;
    }
    #navIcon {
        display: inline-block !important;
        width: 42px;
        float: right;
        margin: 17px 28px;
    }

    .newscontainer {
        width: 100%;
    }
    .newscontainer h2 {
        margin: 30px 0px 0px 20px;
    }
    
    .container {
        margin-left: 20px;
        width: 92%;
        grid-column: 1;
    }
    .platform-card, .discord-card, .discordVC-count {
        width: 100%;
    }
    .platform-container {
        margin-top: 0px;
        margin-left: 20px;
        width: 92%;
        grid-column: 1;
        grid-row: 2;
    }
    .calendar-container {
        margin-top: 0px;
        margin-left: 20px;
        grid-column: 1;
        width: 100%;
    }
    .calendar-container li{
        width: 92%;
    }
}
@media screen and (max-width: 513px){
    .navSelected, .navDiv {
        display: none !important;
    }
    .navElements {
        float: right;
        color: #d8d8d8;
        font-family: "Source Sans Pro";
        margin: 20px 15px 0px 14px;
        font-size: 22px;
        display: none;
        animation: slidein-menu 0.2s forwards;
        position: absolute;
        top: -8px;
        padding: 18px 20px;
        right: 15%;
        background: #262a3c;
        border-radius: 10px;
    }
}
@media screen and (max-width: 440px){        
    .title {
        margin: 20px 0px 8px 20px;
    }
    .newscontainer h2 {
        margin: 30px 0px 10px 20px;
    }

    .container {
        width: 94%;
        grid-column: 1;
        margin: 4px 12px;
    }
    .platform-card {
        width: 94%;
        margin: 4px 12px;
    }
    .discordVC-count{
        width: 94%;
        margin: -4px 12px 4px 12px;
    }
    .discord-card {
        width: 100%;
    }
    
    h3.date {
        margin: 8px 0px 0px 0px;
        padding: 4px 10px;
        background: #343950;
        border-radius: 6px 6px 0px 0px;
    }
    .calendar-container h2 {
        margin: 20px 0px 8px 8px;
    }
    
    .platform-container {
        margin-top: 0px;
        margin-left: 20px;
        width: 100%;
        grid-column: 1;
        grid-row: 2;
        margin-left: 0px;
    }
    .calendar-container {
        margin-top: 0px;
        margin-left: 20px;
        grid-column: 1;
        width: 94%;
        border-radius: 0px;
        margin: 0px 12px;
    }
    .calendar-container li {
        width: 100%;
        border-radius: 0px 0px 6px 6px;
        min-width: 0px;
        margin-top: 0px;
        border-top: 2px solid #2b2e44;
    }
}

/* animations */
@keyframes slidein-menu{
    0%{ transform: translateX(100px); }
    100%{ transform: translateX(0px); }
}
@keyframes fadein {
    0%{ transform: translateY(50px); opacity: 0; }
    100%{ transform: translateY(0px); opacity: 1; }
}
@keyframes slidedown{
    0% { transform: translateY(-10px); opacity: 0;}
    100% { transform: translateY(0px); opacity: 1; }
}