*{
    /*border: 1px solid red;*/
    box-sizing: border-box;
}

body {
    background: #2B2E44;
}
.body2 {
    display: grid;
}

h2{
    font-family: 'Nunito';
}
.title{
    margin: 30px 0px 0px 0px;
    color: #dadada;
    font-size: 30px;
}

/* Header */
.header {
    border-bottom: 1px solid #2E3247;
    background: #2E3247;
}
.GMLogo {
    height: 64px;
    width: 64px;
    display: inline-block;
    overflow: hidden;
    margin: 8px 0px 0px 26px;
}
h1.GMLogoText {
    font-size: 30px;
    color: #ffffff;
    font-family: 'Nunito';
    display: inline-block;
    position: relative;
    top: -20px;
}
.navDiv {
    display: inline-block;
    background: #ffffff0f;
    height: 25px;
    width: 1px;
    position: relative;
    top: 5px;
}
.navElements {
    float: right;
    color: #d8d8d8;
    font-family: "Source Sans Pro";
    margin: 22px 52px 0px 0px;
    font-size: 22px;
}
a {
    color: #c1c1c1;
    text-decoration: none;
}
.navElements p {
    margin: 0px 4px;
    display: inline-block;
}
.navSelected{
    color: #c1c1c1;
    font-weight: 600;
    text-decoration: none;
}

/*payment heading*/
.payment {
    font-family: 'Nunito';
}
.payment h2 {
    margin: 30px 0px 0px 50px;
    color: #dadada;
}
.payment li {
    border: solid 1px #2c2c2c;
    display: inline-block;
    clear: left;
    position: relative;
    margin: 10px;
    padding: 10px;
    background: #2c2c2c;
    border-radius: 10px;
    width: 15%;
    min-width: 165px;
    box-shadow: 2px 2px 4px 2px #191919b3;
    color: #d5d5d5;
}
.statusNP {
    font-size: 12px;
    padding: 2px 5px;
    background: #ff1515bd;
    border-radius: 6px;
    color: white;
}
.status {
    font-size: 12px;
    padding: 2px 5px;
    background: #33b70abd;
    border-radius: 6px;
    color: white;
}
.price {
    float: right;
    margin: 11px;
}

/*news container*/
.container {
    margin-left: 50px;
    border: solid 1px #2E3247;
    background: #2E3247;
    display: inline-block;
    padding: 18px 15px 10px 18px;
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 2px #00000005;
    color: #d5d5d5;
    width: 86%;
    grid-column: 1;
}
.newscontainer {
    font-family: 'Nunito';
    display: inline-block;
    height: 100%;
}
.newscontainer p {
    font-family: 'Nunito';
    line-height: 22px;
    color: #cecece;
}
.newscontainer h2 {
    margin: 30px 0px 0px 50px;
    color: #dadada;
    font-size: 30px;
}
.postdate {
    float: right;
    margin: 0;
    color: #474c63;
    font-size: 13px;
    font-family: 'Roboto';
    margin-top: 10px;
    font-weight: bold;
}

/*platforms container*/
.platform-container{
    grid-column: 2;
}
.discord-card{
    margin-left: 0px;
    border: solid 1px #2E3247;
    background: #2E3247;
    display: inline-block;
    padding: 15px 35px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 2px #00000005;
    color: #d5d5d5;
    position: relative;
}
.discord-card {
    font-family: 'Nunito';
    display: inline-block;
    height: 75px;
    width: 325px;
    margin: 10px 25px 0px 0px;
}
.discord-card h2 {
    color: #dadada;
    font-size: 27px;
    margin-left: -17px;
}
.discord-card p {
    font-family: 'Nunito';
    line-height: 22px;
    color: #969696;
    display: inline-block;
    margin-left: -17px;
    position: relative;
}
.join-discord {
    background: #383c52;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    top: -23px;
    right: -17px;
    float: right;
    border-radius: 6px;
    transition-property: background, color, box-shadow;
    transition: 0.3s;
}
.join-discord:hover {
    background: #7289DA;
    box-shadow: 0px 3px 9px #0000003d;
    color: white;
}


/*calendar container*/
.calendar-container {
    color: #d5d5d5;
    grid-column: 3;
}
.calendarContainer {
    border: solid 1px #2E3247;
    background: #2E3247;
    display: inline-block;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 2px #00000005;
    color: #b9b9b9;
    margin: 10px 50px 0px 0px;
    grid-column: 3;
}
.calendarContainer li{
    font-family: 'Nunito';
    width: 400px;
}
.calendarcontainer h2 {
    color: #dadada;
    margin-left: 50px;
}

/*calendar*/
h3.date {
    font-family: 'Nunito';
    margin: 14px 0px 0px 2px;
    color: #a4a8bf;
}
.date span {
    color: #515467;
}

@media screen and (max-width: 500px){
  .newscontainer {
    width: 100%;
  }
  .container {
    margin-right: 50px;
  }
}
@media screen and (max-width: 960px){
    .newscontainer{
        grid-column: 1;
        grid-row: 1;
    }
    .platform-container {
        grid-column: 1;
        grid-row: 2;
        margin-top: 10px;
        margin-left: 50px;
    }
    .calendar-container{
        grid-column: 1;
        grid-row: 3;
        margin-top: 10px;
        margin-left: 50px;
    }
    .calendarContainer li{
        font-family: 'Nunito';
        min-width: 400px;
    }
}
@media screen and (max-width: 1300px) and (min-width: 960px){
    .platform-container {
        grid-column: 3;
        grid-row: 2;
    }
    .discord-card {
        width: 418px;
    }
    .join-discord {
        right: -14px;
        float: right;
    }
}