/*payment heading*/
.payment {
    font-family: 'Nunito';
}
.payment h2 {
    margin: 30px 0px 0px 50px;
    color: #dadada;
}
.payment li {
    border: solid 1px #2c2c2c;
    display: inline-block;
    clear: left;
    position: relative;
    margin: 10px;
    padding: 10px;
    background: #2c2c2c;
    border-radius: 10px;
    width: 15%;
    min-width: 165px;
    box-shadow: 2px 2px 4px 2px #191919b3;
    color: #d5d5d5;
}
.statusNP {
    font-size: 12px;
    padding: 2px 5px;
    background: #ff1515bd;
    border-radius: 6px;
    color: white;
}
.status {
    font-size: 12px;
    padding: 2px 5px;
    background: #33b70abd;
    border-radius: 6px;
    color: white;
}
.price {
    float: right;
    margin: 11px;
}