/*payment heading*/
.payment {
    font-family: 'Nunito';
    display: grid;
    overflow: hidden;
}
.payment-container {
    grid-column: 1;
    margin: 10px 0px 0px 40px;
}
.payment h2 {
    margin: 30px 0px 0px 50px;
}
h2.month {
    color: #a6b5cc;
}
span.monthTAG {
    background: #3b405a;
    padding: 2px 12px;
    border-radius: 18px;
}
.payment li {
    border: solid 1px #2e3247;
    display: inline-block;
    clear: left;
    position: relative;
    margin: 10px;
    padding: 12px;
    background: #2e3247;
    border-radius: 10px;
    min-width: 165px;
    box-shadow: 2px 2px 4px 2px #0000000d;
    color: #d5d5d5;
    max-width: 340px;
    overflow: hidden;
}
.statusNP {
    font-size: 12px;
    padding: 1px 7px;
    background: #b73a3ac9;
    border-radius: 5px;
    color: white;
    position: relative;
    top: 5px;
    box-shadow: 0 0 8px 0px #e0474757;
}
.statusPP {
    font-size: 12px;
    padding: 1px 7px;
    background: #dda326c9;
    border-radius: 5px;
    color: white;
    position: relative;
    top: 5px;
    box-shadow: 0 0 8px 0px #a095415c;
}
.status {
    font-size: 12px;
    padding: 1px 7px;
    background: #3f8253;
    border-radius: 5px;
    color: white;
    position: relative;
    top: 5px;
    box-shadow: 0 0 8px 0px #3f82535c;
}
.price {
    float: right;
    margin: 11px;
}
span.PPmonths {
    background: #00000026;
    margin: 2px 4px 2px -1px;
    position: relative;
    top: 7px;
    padding: 0px 5px;
    border-radius: 6px;
}

@media screen and (max-width: 610px){
    .payment li {
        width: 90% !important;
        max-width: 600px;
        margin-top: 0px;
    }
    .payment h2 {
        margin: 30px 0px 0px 30px;
    }
    .payment-container {
        margin: 10px 0px 0px 20px;
    }
}