.body2 {
    display: grid;
    overflow: hidden;
    margin-bottom: 20px;
    grid-template-columns: 18% auto;
    padding: 0px 20%;
    grid-gap: 20px;
}

#sidebar {
    border-right: 1px solid #252525;
}

li.sidebar-item {
    background: #0e0e0e;
    margin: 10px 0px;
    padding: 10px 16px;
    border-radius: 6px 0px 0px 6px;
    font-family: 'Lexend Deca';
    color: #b9b9b9;
    transition: filter 0.3s;
}

li.sidebar-item:hover {
    cursor: pointer;
    filter: brightness(1.6);
}

.accimg-ui-container {
    height: 48px;
    position: relative;
    border-radius: 50%;
    width: 48px;
    pointer-events: none;
    overflow: hidden;
    margin: 6px 0px 6px 12px;
}

#accname-ui {
    grid-column: 2;
    grid-row: 1;
    margin-top: 15px;
    pointer-events: none;
    color: #f9f9f9;
}

#accmail-ui {
    grid-column: 2;
    grid-row: 1;
    margin-top: 33px;
    pointer-events: none;
    background: linear-gradient(to right, #c7c7c7 60%, transparent 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
}

img#accimg-ui {
    width: 100%;
}

.account-ui {
    margin: 10px 0px 0px 0px;
    display: none;
    grid-template-columns: 64px auto;
    text-align: left;
    overflow: hidden;
    color: #d5d5d5;
    font-family: 'Lexend Deca';
    grid-gap: 0px 10px;
}

.title {
    margin: 20px 0px 0px 10px;
    color: #dadada;
    font-size: 20px;
}

/*payment heading*/

#payment {
    font-family: 'Lexend Deca';
    grid-column: 2;
}

.payment-container {
    grid-column: 1;
}

.month {
    color: #a2a2a2;
    margin: 10px 10px;
    padding: 0px 0px 10px 0px;
}

span.monthTAG {
    background: #232323;
    padding: 2px 8px;
    border-radius: 4px;
}

#payment li {
    border-top: solid 1px #252525;
    display: block;
    position: relative;
    margin: 6px 0px 0px 0px;
    padding: 12px;
    color: #d5d5d5;
    overflow: hidden;
}

.statusNP {
    font-size: 12px;
    padding: 1px 7px;
    background: #b73a3ac9;
    border-radius: 15px;
    color: white;
    position: relative;
    top: 5px;
}

.statusPP {
    font-size: 12px;
    padding: 1px 7px;
    background: #dda326c9;
    border-radius: 15px;
    color: white;
    position: relative;
    top: 5px;
    transition: background 0.3s;
}

span.statusPP:hover {
    background: #e0b455c9;
    cursor: pointer;
}

.status {
    font-size: 12px;
    padding: 1px 7px;
    background: #3f8253;
    border-radius: 15px;
    color: white;
    position: relative;
    top: 5px;
}

.price {
    float: right;
    margin: 11px;
}

.PPmonths {
    background: #292929;
    margin: 5px 4px 2px -1px;
    position: relative;
    display: inline;
    top: 3px;
    padding: 2px 6px;
    border-radius: 6px;
}

.PPmonthsContainer {
    display: none;
    animation: openMonthPP 0.3s forwards;
    animation-play-state: paused;
    height: 18px;
    margin-top: 15px;
}

/* Credentials */

#credentials {
    font-family: 'Lexend Deca';
    grid-column: 2;
    display: none;
}

#credentials .month {
    display: inline-block;
    margin: 10px 0px 16px 10px;
    padding: 0px 0px 16px 0px;
    border-bottom: solid 1px #252525;
}

#credentials h3 {
    margin: 0px 0px 10px 10px;
    color: #d8d8d8;
    font-size: 18px;
}

#credentials p {
    margin: 0px 0px 20px 10px;
    color: #888888;
    font-size: 15px;
    user-select: all;
}

p#credentials-password {
    display: inline-block;
    background: #313131;
    color: #313131;
    padding: 4px 6px;
    border-radius: 4px;
}

/* settings */

#settings {
    font-family: 'Lexend Deca';
    grid-column: 2;
    display: none;
}

#settings .month {
    display: inline-block;
}

#settings h3 {
    margin: 14px 0px 10px 0px;
    color: #ababab;
    font-size: 15px;
}

#settings p {
    margin: 0px 0px 20px 0px;
    color: #888888;
    font-size: 15px;
    user-select: all;
}

#settings form {
    border-top: 1px solid #252525;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    width: 100%;
    padding: 10px;
    transition: all 0.6s;
}

p#settings-password {
    display: inline-block;
    background: #313131;
    color: #313131;
    padding: 4px 6px;
    border-radius: 4px;
}

#settings input {
    background: #181818;
    border: 1px solid #242424;
    padding: 8px 10px;
    height: 36px;
    display: block;
    border-radius: 6px;
    outline: none;
    color: #c0c0c0;
    transition: filter 0.3s;
}

#settings input:focus {
    filter: brightness(1.3);
}

#settings button {
    background: #242424;
    border: 1px solid #242424;
    padding: 6px 14px;
    margin: 10px 0px 0px 0px;
    display: block;
    border-radius: 6px;
    color: #d0d0d0;
    font-family: 'Lexend Deca';
    cursor: pointer;
    transition: filter 0.3s;
}

#settings button:hover {
    filter: brightness(1.3);
}

form#change-password-form {
    border-top: 1px solid #252525;
    margin: 20px 0px 0px 0px;
    display: inline-block;
}

@keyframes openMonthPP {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    10% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (prefers-color-scheme: light) {
    #sidebar {
        border-right: 1px solid #e0e0e0;
    .title {
        color: #171717;
    }
    .payment {
        background: #f3f3f3;
        box-shadow: 0px 2px 6px 0px #00000033;
    }
    #payment li {
        border-top: solid 1px #e0e0e0;
        color: #3c3c3c;
    }
    .month {
        color: #484848;
    }
    span.monthTAG {
        background: #ffffff;
    }
    .PPmonths {
        background: #f9f9f9 !important;
        border: 1px solid #dedede !important;
        padding: 1px 6px !important;
    }
    li.sidebar-item {
        background: #f3f3f3;
        margin: 10px 0px;
        padding: 10px 16px;
        border-radius: 6px 0px 0px 6px;
        font-family: 'Lexend Deca';
        color: #151515;
        transition: filter 0.3s;
    }
    #accname-ui {
        color: #171717;
    }
    #accmail-ui {
        grid-column: 2;
        grid-row: 1;
        margin-top: 33px;
        pointer-events: none;
        background: linear-gradient(to right, #2f2f2f 60%, transparent 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 14px;
    }
    #credentials .month {
        border-bottom: solid 1px #e0e0e0;
    }
    #credentials h3 {
        color: #2f2f2f;
    }
    p#credentials-password {
        background: #b3b3b3;
        color: #b3b3b3;
    }
    #settings form {
        border-top: 1px solid #e0e0e0;
    }
    #settings input {
        background: #e4e4e4;
        border: 1px solid #d4d4d4;
        color: #2f2f2f;
    }
    #settings input:focus {
        background: #e4e4e4;
        filter: brightness(0.9) !important;
    }
    #settings h3 {
        color: #4a4a4a;
    }
    #settings button {
        background: #e4e4e4;
        border: 1px solid #d4d4d4;
        color: #292929;
    }
}

@media screen and (max-width: 1700px) {
    .body2 {
        padding: 0px 12%;
    }
}

@media screen and (max-width: 1500px) {
    .body2 {
        grid-template-columns: 22% auto;
        padding: 0px 12%;
    }
}

@media screen and (max-width: 1200px) {
    .body2 {
        grid-template-columns: 22% auto;
        padding: 0px 6%;
    }
}

@media screen and (max-width: 1000px) {
    .body2 {
        grid-template-columns: 22% auto;
        padding: 0px 10px;
    }
    .week-table {
        grid-column: 3;
        grid-row: 1;
    }
    .week-table-container li {
        width: 100%;
    }
    .week-table {
        grid-column: 1;
        margin: 0px 24px 0px 0px;
    }
    h3.date {
        margin: 8px 0px 0px 0px;
        padding: 4px 10px;
        background: #242424;
        border-radius: 6px 6px 0px 0px;
    }
    .week-table-container h2 {
        margin: 20px 0px 8px 8px;
    }
    .week-table-container {
        margin-top: 0px;
        margin-left: 20px;
        grid-column: 1;
        width: 100%;
        border-radius: 0px;
        margin: 0px 12px;
    }
    .week-table-container li {
        width: 100%;
        border-radius: 0px 0px 6px 6px;
        min-width: 0px;
        margin-top: 0px;
        border-top: 2px solid #0e0e0e;
    }
}

@media screen and (max-width: 860px) {
    .body2 {
        grid-template-columns: auto;
        padding: 0px;
        grid-gap: 0px;
    }
    li.sidebar-item {
        background: #181818;
        margin: 20px 0px 0px 10px;
        padding: 10px 16px;
        border-radius: 6px 6px 0px 0px;
        font-family: 'Lexend Deca';
        color: #b9b9b9;
        transition: filter 0.3s;
        display: inline-block;
        position: relative;
        top: 57px;
    }
    .account-ui {
        position: absolute;
    }
    #sidebar {
        grid-row: 1;
        grid-column: 1;
        border-right: 0px;
        border-bottom: 1px solid #252525;
        overflow: scroll;
        width: 100%;
        height: 114px;
        white-space: nowrap;
    }
    #payment, #settings, #credentials {
        grid-row: 2;
        grid-column: 1;
        padding: 0px 2%;
    }
    @media (prefers-color-scheme: light) {
        li.sidebar-item {
            background: #e0e0e0;
            color: #151515;
        }
        #sidebar {
            border-bottom: 1px solid #e0e0e0;
        }
    }
}

@keyframes fadeinPayments {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeoutPayments {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}