.body2 {
    display: grid;
    overflow: hidden;
    margin-bottom: 20px;
    grid-template-columns: 18% auto;
    padding: 0px 20%;
    grid-gap: 20px;
}

#sidebar {
    border-right: 1px solid #252525;
}

li.sidebar-item {
    background: #0e0e0e;
    margin: 10px 0px;
    padding: 10px 16px;
    border-radius: 6px 0px 0px 6px;
    font-family: 'Lexend Deca';
    color: #b9b9b9;
    transition: filter 0.3s;
}

li.sidebar-item:hover {
    cursor: pointer;
    filter: brightness(1.6);
}

.accimg-ui-container {
    height: auto;
    position: relative;
    border-radius: 50%;
    width: auto;
    pointer-events: none;
    overflow: hidden;
}

#accname-ui {
    grid-column: 2;
    grid-row: 1;
    margin-top: 15px;
    pointer-events: none;
    color: #f9f9f9;
}

#accmail-ui {
    grid-column: 2;
    grid-row: 1;
    margin-top: 33px;
    pointer-events: none;
    background: linear-gradient(to right, #c7c7c7 60%, transparent 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
}

img#accimg-ui {
    width: 100%;
}

.account-ui {
    margin: 10px 0px 0px 0px;
    display: none;
    grid-template-columns: 64px auto;
    text-align: left;
    overflow: hidden;
    color: #d5d5d5;
    font-family: 'Lexend Deca';
    grid-gap: 0px 10px;
}

/*payment heading*/

#payment {
    font-family: 'Lexend Deca';
    grid-column: 2;
}

#payment .title {
    margin: 20px 0px 0px 10px;
    color: #dadada;
    font-size: 20px;
}

.payment-container {
    grid-column: 1;
}

.month {
    color: #a2a2a2;
    margin: 10px 10px;
    padding: 0px 0px 10px 0px;
}

span.monthTAG {
    background: #232323;
    padding: 2px 8px;
    border-radius: 4px;
}

#payment li {
    border-top: solid 1px #252525;
    display: block;
    position: relative;
    margin: 6px 0px 0px 0px;
    padding: 12px;
    box-shadow: 2px 2px 4px 2px #0000001a;
    color: #d5d5d5;
    overflow: hidden;
}

.statusNP {
    font-size: 12px;
    padding: 1px 7px;
    background: #b73a3ac9;
    border-radius: 15px;
    color: white;
    position: relative;
    top: 5px;
}

.statusPP {
    font-size: 12px;
    padding: 1px 7px;
    background: #dda326c9;
    border-radius: 15px;
    color: white;
    position: relative;
    top: 5px;
    transition: background 0.3s;
}

span.statusPP:hover {
    background: #e0b455c9;
    cursor: pointer;
}

.status {
    font-size: 12px;
    padding: 1px 7px;
    background: #3f8253;
    border-radius: 15px;
    color: white;
    position: relative;
    top: 5px;
}

.price {
    float: right;
    margin: 11px;
}

.PPmonths {
    background: #292929;
    margin: 5px 4px 2px -1px;
    position: relative;
    display: inline;
    top: 3px;
    padding: 2px 6px;
    border-radius: 6px;
}

.PPmonthsContainer {
    display: none;
    animation: openMonthPP 0.3s forwards;
    animation-play-state: paused;
    height: 18px;
    margin-top: 15px;
}

/* Credentials */

#credentials {
    font-family: 'Lexend Deca';
    grid-column: 2;
    display: none;
}

#credentials .title {
    margin: 20px 0px 0px 10px;
    color: #dadada;
    font-size: 20px;
}

#credentials h3 {
    margin: 0px 0px 10px 10px;
    color: #d8d8d8;
    font-size: 18px;
}

#credentials p {
    margin: 0px 0px 20px 10px;
    color: #888888;
    font-size: 15px;
    user-select: all;
}

p#credentials-password {
    display: inline-block;
    background: #313131;
    color: #313131;
    padding: 4px 6px;
    border-radius: 4px;
}

@keyframes openMonthPP {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    10% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width: 1000px) {
    .week-table {
        grid-column: 3;
        grid-row: 1;
    }
    .week-table-container li {
        width: 100%;
    }
    .week-table {
        grid-column: 1;
        margin: 0px 24px 0px 0px;
    }
    .title {
        margin: 20px 0px 0px 17px;
        font-size: 30px;
    }
    h3.date {
        margin: 8px 0px 0px 0px;
        padding: 4px 10px;
        background: #242424;
        border-radius: 6px 6px 0px 0px;
    }
    .week-table-container h2 {
        margin: 20px 0px 8px 8px;
    }
    .week-table-container {
        margin-top: 0px;
        margin-left: 20px;
        grid-column: 1;
        width: 100%;
        border-radius: 0px;
        margin: 0px 12px;
    }
    .week-table-container li {
        width: 100%;
        border-radius: 0px 0px 6px 6px;
        min-width: 0px;
        margin-top: 0px;
        border-top: 2px solid #0e0e0e;
    }
}

@media (prefers-color-scheme: light) {
    .payment {
        background: #f3f3f3;
        box-shadow: 0px 2px 6px 0px #00000033;
    }
    .payment li {
        border: solid 1px #ffffff;
        background: #ffffff;
        box-shadow: 2px 2px 4px 2px #00000012;
        color: #000000;
    }
    .payment .title {
        color: #252525;
    }
    .month {
        color: #2b2b2b;
        border-bottom: 1px solid #dedede;
    }
    span.monthTAG {
        background: #ffffff;
    }
    .PPmonths {
        background: #f9f9f9 !important;
        border: 1px solid #dedede !important;
        padding: 1px 6px !important;
    }
}

@keyframes fadeinPayments {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeoutPayments {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}